body{
	justify-content: center;
	align-items: center;
}

.table1 {
	border-collapse: collapse;
	margin-left: 20%;
	margin-right: 20%;
	width: 600px;
	
}

.table1 td, th{
	border: 5px ridge #EFEFE6;
	text-align: center;	
}

.table2 {
	border-collapse: collapse;
	margin-left: 13%;
	margin-right: 13%;
	width: 30%;
}

.table2 th, td{
	border: 1px solid #FF9A00;
	padding: 5px;
	vertical-align: top;
}

.table2 tr:nth-child(n+3){
	background: #DEDFDE;
}

.table3 td, th{
	border: 2px solid #BDBDBD;
	padding: 5px;
	text-align: center;
}

.table3 {
	border-collapse: collapse;
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
}

.textblue{color: blue;}

.propr{
	background: #DCDCFE;
	color:blue;
}
.mixed{ background: #FFFFBB;}
.free{ background: #99FFFF;}
.green{ background: #99FF99;}
.red{ background: #FF9898; }
.unknown{ background: #EBEBEB }