body{
	background-color: #98FF66;
	position: relative;
	z-index: 0;
}
	

.border1 {
  	width: 250px;
  	background: #ffffff;
  	position: relative;
  	text-align: center;
  	position: absolute;
  	margin: 30px;
  	color: #036354;
  	top:0 ;
	left:20px;
	text-transform: uppercase;
	z-index: 2;
	font-size: 20px;
  	box-shadow: 
  		0 0 0 10px hsl(0, 0%, 100%), 
  		0 0 0 12px hsl(32, 62%, 58%), 
  		0 0 0 14px rgb(204, 102, 1), 
  		0 0 0 16px rgb(189, 77, 2), 
  		0 0 0 18px rgb(152, 63, 4);
}

span{
	color: #FF6600;
	font-weight: bold;
}

.text{
	border-left: 3px solid #CC6601; 
	border-right: 3px solid #CC6601;
	border-top: 3px solid #70975A; 
	border-bottom: 3px solid #70975A; 
	background-color: #FFCC44;
	position: absolute;
	top:35px ;
	left:10px;
	z-index: 1;
	width: 80%;
	padding: 20px;
	padding-top: 80px;

}

.text2{
	position: absolute;
	border: 2px solid #B17304;
	width: 200px;
	padding: 10px;
	top:120px ;
	left:80%;
	z-index: 2;
	background-color: #FFFFFF;
	color: #B2765A;
	font-size: 20px;
}

.img{
	position: absolute;
	top:300px ;
	left:70%;
	z-index: 2;
}

.link{
	border: 5px outset #FE8D41;
	background-color: #FFFFFF;
	position: absolute;
	color: #FE8D41;
	padding: 10px;
	top:580px ;
	left:82%;
	z-index: 3;
}



